@import url('https://fonts.googleapis.com/css?family=Oswald:400');

body {
    font-family: 'Oswald', sans-serif;
    background: #222428;
}

#device_0 {
    position: absolute;
    width: 200px;
    height: 200px;
    right: 300px;
    top: 400px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background: #fff;
    opacity: 0.1;
    z-index: -1;
}

#device_1 {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 43%;
    top: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background: #fff;
    opacity: 0.1;
    z-index: -1;
}

#device_2 {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 300px;
    top: 400px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background: #fff;
    opacity: 0.1;
    z-index: -1;
}

#label {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 44%;
    top: 500px;
    font-size: 50px;
    color: #fe6a3a;
}


#device_0 #device_0i {
    position: relative;
    color: #222428;
    opacity: 1;
    left: 25%;
    top: 25%;
    font-size:100px;
    transition: 0.2s;
}

#device_1 #device_1i {
    position: relative;
    color: #222428;
    opacity: 1;
    left: 25%;
    top: 25%;
    font-size:100px;
    transition: 0.2s;
}

#device_2 #device_2i {
    position: relative;
    color: #222428;
    opacity: 1;
    left: 25%;
    top: 25%;
    font-size:100px;
    transition: 0.2s;
}