<html lang="en">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tracker</title>
</head>
<body>
    <div>
        <span id="device"></span>
        <span id="hover"></span>
        <span id="active"></span>
    </div>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>