<html lang="en">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tracker</title>
</head>
<body>
    <div>
        <div id="d0">
            <i class="fas fa-cubes" id="d0i"></i>
        </div>
        <div id="d1">
            <i class="fas fa-tv" id="d1i"></i>
        </div>
        <div id="d2">
            <i class="fas fa-camera" id="d2i"></i>
        </div>
        <span id="label">Hello boi</span>
    </div>
    <link rel="stylesheet" href='{{ url_for('static', filename='css/main.css') }}'>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>
