<html lang="en">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tracker</title>
</head>
<body>
    <div>
        <div id="device_2">
            <i class="fas fa-cubes" id="device_2i"></i>
        </div>
        <div id="device_1">
            <i class="fas fa-desktop" id="device_1i"></i>
        </div>
        <div id="device_0">
            <i class="fas fa-camera" id="device_0i"></i>
        </div>
        <span id="label"></span>
    </div>
    <link rel="stylesheet" href='{{ url_for('static', filename='css/main.css') }}'>
    <script src="{{ url_for('static', filename='js/pointing.js') }}"></script>
</body>
</html>
